@charset "utf-8";
#header .for-sh {
    display: none;
}
#header .for-pc {
    display: block;
}
body {
    box-sizing: border-box;
    font-family: "Noto Sans JP";
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 25px;
    color: #444444;
}
#header {
    margin-bottom: 100px;
    padding: 0;
}
#header .hero {
    background-color: #3cb371;
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
}
#logo  {
    color: #d50000;
    text-shadow: 1px 3px 1px #ffffff;
    font-size: 20px;
    margin: auto 0 auto 20px;
}
#logo span {
    color: white;
    text-shadow: 1px 3px 1px #d50000;
    font-size: 40px;
    letter-spacing: 1px;
    cursor: pointer;
}
#header .small-image {
    max-width: 80%; 
    max-height: 70%; 
}

/* 「header」のmenu部分 */
#header .header-flex {
    justify-content: space-between;
}
#header nav ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    margin: 0 auto 50px auto;
    padding: 0;
}
#header nav ul li {
    padding: 0 2.5px 3px 2.5px;
}
#header nav li, nav a {
    display: block;
    font-weight:bold
}
#header nav a {
    text-decoration: none;
    text-align: center;
    background-color: #85edb4; 
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #040404;
    text-shadow: 1px 3px 1px #d7fc67
}
#header nav a:hover {
    background-color: #f8be21; 
    color: #1202bc;
    text-shadow: 1px 3px 1px #c9c2fb

}

/* address部分 */
#adress dl {
    text-align: center;
    margin: 150px auto 0 auto;
}
#adress dt {
    margin: 20px auto;
    width: fit-content;
    border-radius: 50%;
    background-color: #3cb371;
    padding: 30px;
    text-align: center;
    font-size: 7vw;
    color: #ffffff;
    text-shadow: 1px 3px 1px #ffffff;
    margin-left: auto;
    margin-right: auto;
}
#adress dd {
    margin: 10px;
}
#adress p {
    text-align: center;
    margin: 20px auto 0 auto;
    font-size: 4.2vw;
}
#adress .dya {
    font-size: 6.2vw;
    margin-top: 10px;
}
#adress table {
    border-collapse: separate;
    border-spacing: 0;
    border: 1px solid #3cb371;
    border-radius: 10px;
    overflow: hidden;
    margin: 0 auto;
}
#adress th, #adress td {
    padding: 2vw 2.5vw;
    border-bottom: 1px solid #3cb371;
}
#adress th {
    background-color: #3cb371;
}
#adress td {
    border-left: 1px solid #3cb371;
    text-align: center
}
#adress tr:last-child th,
#adress tr:last-child td {
    border-bottom: none;
}
#map-container {
    text-align: center;
    width: 100%;
    height: 450px;
    margin: 20px auto; /* 横方向に中央揃え */
}
#adress address {
    margin: 50px auto 10px auto;
    width: fit-content;
    display: block;
    font-weight: bold;
    font-size: 5vw;
}
#adress address span {
    font-size: 5.3vw;
    display: inline-block;
}
/* footer部分 */
#footer .end {
    text-align: center;
    margin: 50px auto 30px auto;
    background-color: #3cb371;
    font-size: 1vw;
}

/* 画面サイズ変更 */
@media screen and (min-width: 1000px) {
    #header .hero {
        margin-left: 5%;
        width: auto; 
    }
    #logo  {
        text-shadow: 0.1rem 0.1rem 0.1rem #ffffff;
        font-size: 1.1rem;
    }
    #logo span {
    text-shadow: 0.1rem 0.1rem 0.1rem #d50000;
    font-size: 2.4rem;
    }
    #adress dt {
        font-size: 65px;
        color: #d50000;
        text-shadow: 3px 4px 3px #ffffff;
    }
    #header .for-sh {
        display: block;
        margin-top: auto;
        margin-left: 200px;
    }
    #header .for-pc {
        display: none;
    }
    #header .header-flex {
        display: flex;
        background-color: #3cb371;
        height: 150px;
    }
    #header nav ul {
        display: flex;
        margin: 0 auto 50px auto;
        padding: 0 10px;
    }
    #header nav a{
        font-size: 18px;
    }
    #header .button {
        display: inline-block;
        border-style: solid;
        background-color: #85edb4;
        border-width:1px;
        border-color: rgb(255, 255, 255);
        color: black;
        text-decoration: none;
        border-radius: 10%;
    }
    #adress p {
        font-size: 30px;
    }
    #adress .dya {
        font-size: 45px;
        margin: 10px;
    }
    #header .business {
        font-size: 20px;
        margin: 15px;
    }   
    #adress address {
        font-size: 25px;
    }
    #adress address span {
        font-size: 30px;
    }
    #footer .business th, #footer .business td {
        padding: 1vw 2vw;
    }  
}

@media screen and (max-width: 999px) {
    #header .hero {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #footer .business {
        font-size: 1rem;
    }   
    #footer .business th, #footer .business td {
        padding: 10px 23px;
    }  
}

@media screen and (max-width: 640px) {
    #header nav {
        display: block;
    }    
}

@media screen and (max-width: 599px) {
    #footer.business {
        font-size: 0.7rem;
    }   
    #footer .business th, #footer.business td {
        padding: 10px 15px;
    }
}

@media screen and (max-width: 470px) {
    #logo span {
        font-size: 1.8rem;
    }
    #logo {
        font-size: 0.9rem;
    }
    #adress p {
        font-size: 4vw;
    }
    #adress {
        margin: 10px;
    }
    #adress th, #adress td {
        padding: 1.3vw 2vw;
        border-bottom: 1px solid #3cb371;
        font-size: 5vw;
    }
    #adress address {
        font-size: 5vw;
    }
    #adress address span {
        font-size: 5.5vw;
    }
}

