@charset "utf-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    vertical-align: middle;
}

#contact .contact {
    width: 100%;
    margin: 0 auto;
    padding: 60px 0;

}

#contact .contact-ttl{
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 40px;
    text-align: center;
    color: #85edb4;
    text-shadow: 3px 4px 2px #333333;
}

#contact.contact-table {
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-collapse: separate;
    border-spacing:1px;
    
}

#contact .contact-item,
#contact .contact-body {
    /* padding ; */
    border: 1px solid #ccc;
}

#contact .contact-item {
    text-align: center;
    /* padding-left: 2em; */
    background-color: #85edb4;
    font-size: 0.6em;
    font-weight: bold;
}

#contact .contact-body {
    text-align: left;
    margin: auto;
}
#contact .contact-body div {
    display: inline-block;
    margin: auto;
    width: 100%;
    height: 100%;
}
#contact .form-text {
    margin: 0 5%;
    height: 3em;
    width: 90%;
    border-radius: 5px;
    border: 1px solid #ccc;
    appearance: none;
}

#contact .form-textarea {
    vertical-align: middle;
    margin:  5%;
    width: 90%;
    height: 10em;
    border-radius: 5px;
    border: 1px solid #ccc;
    appearance: none;
    font-family: Arial, Helvetica, sans-serif;
}

#contact .contact-submit{
    width: 200px;
    background-color: #85edb4;
    color: #333333;
    font-weight: bold;
    display: block;
    margin: 15px auto;
    font-size: 16px;
    padding: 15px;
    border-radius: 100vh;
    border-color: lightgray ;
    appearance: none;
    cursor: pointer;
}
#contact .sample {
    text-align: center;
}
#contact .contact{
    margin: 0;
    width: 100%;
} 
#contact .contact-table {
    width: 70%;
    margin: auto;
}
#contact .contact-table tr {
    height: 3em;
}
#contact .contact-table span {
    font-size: 0.5em;
    width: 90%;
}
#contact.contact-table td > input {
    width: 90%;
}
#contact .contact-body label input {
    margin: 5% 0 5% 5%;
}




/*タブレット画面 */
@media screen and (max-width: 1024px) {
#contact .contact-item {
    font-size: 1.5vw;
}

  }
    /* スマフォサイズ */
@media screen and (max-width: 640px) {
#cash p {
    font-size: 0.7em;
}
#contact .contact-item {
    margin: auto;
}
#contact .contact-table {
    width: 90%;
    margin: auto;
}
#contact .small-text {
    font-size: 10px;
    white-space: nowrap;
}
  }

      /* スマフォサイズ */
/* @media screen and (max-width: 390px) {
#cash p {
    font-size: 0.7em;
}
#contact .contact-item {
    margin: auto;
}
#contact .contact-table {
    width: 90%;
    margin: auto;
}
#contact .small-text {
    font-size: 10px;
    white-space: nowrap;
}

} */