@charset "utf-8";

/* pc画面用　CSS */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans JP";
  font-size: 35px;
}

/* header部分 */
.header {
  display: flex;
  height: 35vh;
  width: 100%;
  background-color: #3cb371;
}
.hero {
  display: flex;
  margin: 3%;
  align-items: center;
  width: 34%;
}

/* 画像を小さくするためのスタイル */
.small-image {
  max-width: 80%; /* 新しい幅を指定 */
  max-height: 70%; /* 高さを自動調整 */
  margin-right: 2%;
}

#logo {
  color: #d50000;
  text-shadow: 3px 4px 2px #ffffff;
  font-size: 19px;
}

#logo span {
  color: white;
  text-shadow: 3px 4px 2px #d50000;
  font-size: 40px;
  letter-spacing: 1px;
  cursor: pointer;
}

/* ナビ部分 */
.menu {
  margin-top: 50px;
  width: 60%;
}

.menu nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 40px 13% 0 3PX; */
  text-shadow: 3px 4px 2px #d50000;
}

.menu nav ul {
  text-align: right;
}

.menu nav ul li {
  list-style: none;
  display: inline-block;
  margin: auto auto;
}

.menu nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s;
  font-size: 25px;
  margin: 1vw;

  margin-top: 20px;
  width: fit-content;
  border-radius: 15%;
  background-color: #3cb371;
  padding: 20px;
}

.menu nav ul li a:any-link:hover {
  color: #d50000;
  text-shadow: 1px 1px 2px #ffffff;
  text-decoration: underline;
  background-color: #bdefd3;
}

/* .button {
    background-color: #ffd700;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    padding: 10px 15px;
    transition: all 0.2s;
    border-radius: 0px;
} */

/* address部分 */

dl {
  text-align: center;
  margin: 50px auto 0 auto;
}

dt {
  margin-top: 20px;
  width: fit-content;
  border-radius: 50%;
  background-color: #3cb371;
  padding: 30px;
  text-align: center;
  font-size: 30px;
  color: #d50000;
  text-shadow: 3px 3px 1px #ffffff;
  margin-left: auto;
  margin-right: auto;
}

dd {
  margin-top: 10px;
}

p {
  text-align: center;
  margin: 10px auto 0 auto;
}

p span {
  font-size: 25px;
  margin-top: 0;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  border: 1px solid #3cb371;
  border-radius: 10px;
  overflow: hidden;
  margin: 0 auto;
}

th,
td {
  padding: 10px 25px;
  border-bottom: 1px solid #3cb371;
}
th {
  background-color: #3cb371;
}
td {
  border-left: 1px solid #3cb371;
  text-align: center;
}
tr:last-child th,
tr:last-child td {
  border-bottom: none;
}

#map-container {
  text-align: center;
  width: 100%;
  height: 450px;
  margin: auto; /* 横方向に中央揃え */
  margin-top: 10px;
}

@media screen and (max-width: 640px) {
  nav {
    display: block;
  }
}

address {
  margin: auto;
  width: fit-content;
  display: block;
  font-weight: bold;
}

address span {
  font-size: 25px;
  display: inline-block;
}

/* footer部分 */
footer {
  /* color: white; */
  text-align: center;
  margin: 50px auto 30px auto;
  background-color: #3cb371;
  font-size: 20px;
}

.table {
  display: flex;
  flex-wrap: wrap;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-between;
  padding: 0;
}
p {
  text-align: right;
  margin: 10px auto 0 auto;
}
p.nedan {
  font-size: 0.8em;
  color: #cc0000;
}
.item-body {
  font-size: 22px;
}
element.style {
  font-weight: bold;
}

h3 {
    text-align:center;
    padding:20px 0;
}