@charset "utf-8";


#product address span {
  font-size: 25px;
  display: inline-block;
}

#product .table {
  display: flex;
  flex-wrap: wrap;
}

#product .flex {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  font-size: 1.2vw;
  justify-content: center;
  gap: 7%;
}
#product p {
  text-align: center;
  font-weight: bold;
  padding-top: 2em;
  padding-bottom: 3em;
}
#product p.nedan {
  font-size: 0.8em;
  color: #cc0000;
  text-align: right;
}
#product .item-body {
  font-size: 2vw;
  margin-top: 20px;
}

#product element.style {
  font-weight: bold;
}
#product .shop {
  width: 20%;
  margin-bottom: 10vw;
  text-align: center;
}
#product h1 {
  text-align: center;
  font-weight: bold;
  font-size: 50px;
  padding-top: 1em;
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-color: #3cb371

}
#product p.nedan {
  padding-bottom: 1em;
}


#cash {
    text-align:center;
    padding:20px 0;
}
#cash h3 {
  font-weight: bolder;
  font-size: 50px;
  margin-top: 1em;
  margin-bottom: 1em;
}
#cash p {
  font-weight: bold;
  margin-top: 1em;
}

/* cart.phpの装飾 */

/* .cartlist {
  border: 1px solid #000; /* 枠線のスタイルと色を設定 */
  /* padding: 20px; /* 枠の内側に余白を追加 */
  /* max-width: 200;
  text-align: center; */
/* }  */

/* #concept {
  text-align: center;
}
.cart-table {
  text-align: center;
} */ 

/* cart */
#cart {
  text-align: center;
}
#cart .nowrap {
	width: 70%;
	border-collapse: collapse;
	margin: 0 auto 5%;
}
#cart .nowrap tr {
	text-align: center;
}
#cart thead {
	border-collapse:separate;
}
#cash .text-right {
	text-align: right;
}
#cart .nowrap th,
#cart .nowrap td {
	border: 1px solid #ff5f03;
	vertical-align: middle;
	padding: 5px 10px;
	text-align: center;
}
#cart .nowrap th {
	background-color: #f4d885;
	color: #000000;
}
#cart .nowrap button {
	margin: 0;
}
#cart .total td {
	text-align: center;
}
#cart .nowrap-btn {
	text-align: center;
}
#cart .cart-btn {
	text-align: center;
} 
#cart .addition {
  margin: 50px auto;
}
#cart .confirm {
  margin: 5% auto;
}

#cart .addition {
  display: inline-block;
  border-style: solid;
  background-color: #85edb4;
  padding: 2% 5%;
  border-width:1px;
  text-decoration: none;
  border-radius: 50%;
}


  /* レスポンシブの調整用 */
@media screen and (max-width: 999px) {
  #product p {
    margin: 0;
    font-size: 18px;
  }
  #product .shop {
    width: 20%;
  }
  #cart .nowrap {
    width: 90%;
  }
}
@media screen and (max-width: 650px) {
  #product h1 {
    font-size: 35px;
    padding-top: 0;
    margin-top: -30px;
  }
  #product p {
    font-size: 0.55em;
    margin: 0 10px;
  }
  #product input.kosuu{
    width: 100px;
  }
  #product .shop {
    width: 25%;
  }
  #cart .nowrap tr {
    font-size: 3vw;
  }
}
@media screen and (max-width: 450px) {
  #product h1 {
    font-size: 30px;
    margin-top: -40px;
  }
  #product p {
    font-size: 0.48em;
  }
  #product .shop {
    margin-bottom: 20vw;
  }
  #product input.kosuu{
    width: 80px;
  }
  #cart .nowrap {
    width: 85%;
    font-size: 13px;
  }
}
#cart p {
  padding: 1rem;
  font-size: 1.5em;
}
#cart .cash {
  font-size: 1.5em;
}
#cart .confirm {
  font-size: 1.5em;
}
#cart input, select {
  font-size: 0.5em;
  padding: 0.5em;
}
